@tailwind base;
@tailwind components;
@tailwind utilities;

/* 750px以下で適用 */
@media (max-width: 750px) {
  #container {
    display: block;
    width: 90%;
  }

  #main {
    display: block;
    margin-left: auto;
  }
}
