@tailwind base;
@tailwind components;
@tailwind utilities;

/* 750px以下で適用 */
@media (750px >= width) {
    #profile-container {
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
    }
}
