@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-gray-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#content h1 {
  @apply text-3xl font-semibold mb-4 mt-8;
}

#content h2 {
  @apply text-2xl font-semibold mb-4 mt-6 p-4 bg-blue-50 text-blue-500 border-l-4 border-blue-500;
}

#content h3 {
  @apply text-2xl font-semibold mb-4 mt-5;
}

p:has(span.cms-space) {
  margin-bottom: 16px;
}

.indent-5 {
  margin-left: 1.25rem;
}

ul li {
  list-style: initial;
  margin-left: 2.5rem;
}

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

code {
  display: inline-block;
  max-width: 100%;
  padding: 0.1em 0.35em; /* 文字周りの余白 */
  color: #cbc9c9; /* 文字色 */
  background-color: #151617; /* 背景色 */
  border-radius: 3px; /* 角丸 */
  border: solid 1px #d6dde4; /* 枠線 */
  overflow: hidden;
  font-size: x-small;
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Meiryo, monospace;
  overflow-x: auto; /* 横スクロールを追加 */
  white-space: pre; /* 改行を無視して連続する空白を保持 */
}

figure {
  max-width: 100%;
}

/* 固有タグ */
#blog-container {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  word-break: break-all;
}

#blog-doc {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  word-break: break-all;
}
