@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prismjs/themes/prism.css";

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-gray-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#content h1 {
  @apply text-3xl font-semibold mb-4 mt-8;
}

#content h2 {
  @apply text-2xl font-semibold mb-4 mt-8 p-4 bg-blue-50 text-blue-500 border-l-4 border-blue-500;
}

#content h3 {
  @apply text-2xl font-semibold mb-4 mt-8;
}

#content h4 {
  @apply text-xl font-bold mt-8;
}

p:has(span.cms-space) {
  margin-bottom: 16px;
}

.indent-5 {
  margin-left: 1.25rem;
}

a[href^="http"] {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: initial;
  margin-left: 2.5rem;
}

ol li {
  list-style: decimal;
  margin-left: 2.5rem;
}

code[class*="language-"],
pre[class*="language-"] {
  background-color: #1a2638 !important; /* 背景色を黒に */
  color: #fff !important; /* テキスト色を白に */
  font-size: 0.875rem;
  text-shadow: none;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
}

.token.constant,
.token.number {
  color: #ffc56d;
}

.token.property {
  color: #38c7ff;
}

.token.operator {
  background: none;
}

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: inline-block;
  max-width: 100%;
  padding: 0.7em 15rem 1em 1.5rem; /* 文字周りの余白 */
  line-height: 1.6;
  color: #cbc9c9; /* 文字色 */
  background-color: #151617; /* 背景色 */
  border-radius: 3px; /* 角丸 */
  border: solid 1px #d6dde4; /* 枠線 */
  overflow: hidden;
  font-size: 0.82rem;
  font-weight: 50;
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Meiryo, monospace;
  overflow-x: auto; /* 横スクロールを追加 */
  white-space: pre; /* 改行を無視して連続する空白を保持 */
}

figure {
  max-width: 100%;
}

/* 固有タグ */
#blog-container {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  word-break: break-all;
}

#blog-doc {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  word-break: break-all;
}
