@tailwind base;
@tailwind components;
@tailwind utilities;

/* 750px以下で適用 */
@media (750px >= width) {
    #container {
        display: block;
        width: 90%;
    }

    #main {
        display: block;
        margin-left: auto;
    }
}