@tailwind base;
@tailwind components;
@tailwind utilities;

/* 750px以下で適用 */
@media (750px >= width) {
  #container {
    display: block;
    width: 90%;
    margin-top: 160px;
  }

  #main {
    display: block;
    margin-left: auto;
  }

  #sidebar {
    display: flex;
    width: stretch;
    margin-left: auto;
  }
}
